/* Header.module.css */

/* Header.module.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.header {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
}

.actions {
  display: flex;
  align-items: center;
}

.loginButton {
  background-color: #3498db;
  color: #fff;
  padding: 0.7rem 1.3rem;
  border: none;
  border-radius: 5px;
  margin-right: 18px;
  cursor: pointer;
  font-weight: 1000;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #2980b9;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  margin-right: 10px;
}

.logoText {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

/* ... rest of your styles remain unchanged ... */

  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 15px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1;
    margin-right: 15px;
  }
  
  .hamburger span {
    display: block;
    height: 4px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  

  .hamburger span:nth-child(1) {
    width: 30px;
  }
  
  .hamburger span:nth-child(2) {
    width: 20px;
  }
  
  .hamburger span:nth-child(3) {
    width: 25px;
  }
  
  .nav {
    display: flex;
    align-items: center;
    z-index: 9999;
  }
  
  .navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
   
  }

  
  .navList li {
    margin-right: 1.5rem;
  }

  

  
  .navLink {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navLink:hover {
    color: #ebc52a;
  }
  
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  
    .nav {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #e9e8e8;
      /* color:#000000; */
      width: 100%;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .header a{
      color:#000000;
    }
    .header a:hover{
      color:#9e9e9e;
    }
    .navOpen {
      max-height: 300px;
      border-radius: 0 0 20px 20px ;
    }
  
    .navList {
      flex-direction: column;
      padding: 1rem 0;

    }
  
    .navList li {
      margin: 1rem 0;
 
    }
    .logoText {
      font-size: 1.3rem;
    }
    .loginButton {
      font-size: 0.8rem;
      padding: 0.5rem 0.5rem;
      border-radius: 5px;
      font-weight: 1000;

    }
  }
  