/* login.module.css */
.container {
  width: 100%;
  height: 100vh; /* Ensure the container spans the full height of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.logo {
  max-width: 100%;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: auto;
  border-radius: 15px;
}



.subtitle {
  margin-top: 1rem;
  color: #333;
  font-size: 0.9rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 1rem;
}

.form {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  border-radius: 18px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.label {
  font-weight: bold;
  color: #000000;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #3498db;
}

.button {
  background-color: #000000;
  color: #fff;
  padding: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  margin: auto;
  width: 100%;
  /* width:30%; */
  transition: background-color 0.3s;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.button:hover {
  background-color: #424242;
}

.link {
  margin-top: 20px;
  cursor: pointer;
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}

/* Add styles for Google and Facebook buttons */
.google,
.facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.googlebutton,
.facebookbutton {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
  width: 100%;
}
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0; /* Add some margin for spacing */
  opacity: 0.5; /* Make the line a little transparent */
}
.googlebutton:hover,
.facebookbutton:hover {
  background-color: #f0f0f0;
}

.googlebutton p,
.facebookbutton p {
  margin: 0;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}
.iconPadding {
  margin-right: 10px; /* Adjust the margin as needed */
  font-size: large;
}
/* nce css for accommodationBanner annimated, no bg
.accommodationBanner{
  display: flex;
  cursor: pointer;
  font-size: 1.1rem;
} */

.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #6c757d;
}