/* roomdetails.module.css */
.room_details_wrapper {
  width: 90%; 
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.room_details_container {
  display: flex;
  flex-direction: row;
}

.room_image {
  width: 600px;
  /* height: 400px; */
  margin-bottom: 10px; 
  border-radius: 14px;
  overflow: hidden;
  margin-right: 2rem;
  margin-top: 3rem;
}

.image_grid {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}

.grid_item {
  width: 142px; /* Width of the small images */
  height: 142px; /* Height of the small images */
  cursor: pointer;
}

.grid_item img {
  border-radius: 8px;
}

.info {
  flex: 1;
}

.room_id,
.room_name,
.room_price,
.room_capacity,
.room_description,
.room_bed_type,
.room_washrooms,
.room_university,
.room_contact {
  margin-bottom: 1rem;
  font-weight: bold;
}

.bookbutton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
}

.bookbutton:hover {
  background-color: #0056b3;
}

.viewmorebutton {
  padding: 15px 20px;
  background-color: #de0c0c;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2rem;

  /* Center the button horizontally */
  margin-left: 50%;
  transform: translateX(-50%);
}

.viewmorebutton:hover {
  background-color: #a50505;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Full viewport height */
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .room_details_wrapper {
    margin-top: 1rem;
    width: 85%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .room_details_container {
    flex-direction: column;
  }
  .room_image {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
    margin-top: 1rem;
  }
  .image_grid {
    width: 100%;
    margin-right: 0;
  }
  .room_id {
    margin-top: 0;
    font-size: 2rem;
  }
  .room_name {
    margin-top: 0;
    font-size: 1.5rem;
    font-style: normal;
  }
}
