.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    max-width: 300px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card h3 {
    margin-bottom: 8px;
  }
  
  .card .price {
    font-weight: bold;
  }
  
  /* Add a media query for smaller screens (max-width: 767px) */
  @media (max-width: 767px) {
    .card {
      margin: 16px 0;
      display: grid; /* Adjust margin for better spacing on smaller screens */
    }
  }
  .cardcon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    place-items: center;
    margin-bottom: 3%;

  }
  .description{
    overflow-wrap: break-word;
    word-wrap: break-word;
  }


  .button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px;
    transition: background-color 0.3s ease;
  
    /* Hover effect */
   
  }
  .button:hover {
    background-color: #2980b9;
  }
  @media screen and (max-width: 768px) {
    .cardcon{
 
      margin-bottom: 15%;
    
  }
}
.vrdiv {
  /* Add styling for the container div if needed */
  /* margin-top: auto; */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center;
}

.Viewmorerooms {
  /* Add styling for the button */
  background-color: #4caf50; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Add padding for better appearance */
  font-size: 16px; /* Adjust font size */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius for rounded corners */
  cursor: pointer; /* Add cursor pointer on hover */
  margin-bottom: 5%;

}

.Viewmorerooms:hover {
  /* Change style on hover if needed */
  background-color: #45a049; /* Darker green background color */
}
@media screen and (max-width: 768px) {
  .Viewmorerooms{
    margin-bottom: 13%;
  }
  
}
