.search_container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 45%;
    margin: 0 auto;
  }
  .iconSearch {
    position: absolute;
    right: 100px;
    top: 40px;
    font-size: 1.5rem;
  }
  .iconSearch:hover {
    cursor: pointer;
 
  }
  .search_input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 25px;
    padding: 20px;
  }
  


  .options_icon {
    padding: 12px 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    color: #555;
    margin-top: 25px;
    transition: background-color 0.3s;
  }
  
  .options_icon:hover {
    background-color: #e0e0e0;
  }
  .options_panel {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%; /* Position the panel below the filter button */
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 0;
    background-color: #efefef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    z-index: 0;
    transition: all 0.3s;
    border: 1px solid #ccc;
    max-width: 90%;
    
  }
  
  .options_panel.show {
    display: block;
  }
  
  .options_panel label {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  .price_range_input {
    width: 100%; /* Make the price range input span the full width */
    margin-bottom: 15px;
  }
  
  .bedroom_input,
  .amenities_input,
  .date_input,
  .dropdown,
  .apply_button {
    width: 90%; /* Make these elements span the full width */
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .apply_button {
    background-color: #268bce;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
    width: auto;
  }
  
  .apply_button:hover {
    background-color: #0665a4;
  }
  
  @media screen and (max-width: 768px) {
    .options_panel {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    .price_range_input,
    .bedroom_input,
    .amenities_input,
    .date_input,
    .dropdown,
    .apply_button {
      margin-bottom: 10px; /* Adjust margin for smaller screens */
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .search_container {
      max-width: 95%;

    }
    .iconSearch {
       margin-top: 4px;
        margin-right: -9PX;
    }

  }
  